@model Zoo.Web.ViewModels.Home.IndexViewModel
@{
  ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Animals</h1>
<div class="row justify-content-around">
  <div class="col-5">
    <ul class="list-group">
      @foreach (var animal in Model.Animals)
      {
        if (animal.IsAlive)
        {
          <li class="list-group-item"><b>@animal.Information()</b></li>
        }
        else
        {
          <li class="list-group-item text-danger"><b>@animal.Information()</b></li>
        }
      }
    </ul>
  </div>
  <div class="col-7">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a asp-controller="Animals" asp-action="Feed" class="dropdown-item">Feed</a>
        <a asp-controller="Animals" asp-action="Hunger" class="dropdown-item">Hunger</a>
      </div>
    </div>
    <hr />
    <button id="btn-alive-animals-count" type="button" class="btn btn-info">Alive animals count</button>
    <hr />
    <button type="button" class="btn btn-info min-health" animalType="Monkey">Monkeys min health</button>
    <button type="button" class="btn btn-info min-health" animalType="Giraffe">Giraffes min health</button>
    <button type="button" class="btn btn-info min-health" animalType="Bear">Bears min health</button>
    <hr />
    <div id="alert-alive-animals-count" class="alert alert-success" role="alert" style="display:none">

    </div>
    <div id="alert-min-health" class="alert alert-warning" role="alert" style="display:none">

    </div>
  </div>
</div>

@section Scripts{
  <script>
    $("#btn-alive-animals-count").click(async function () {
      const response = await fetch("https://localhost:44308/api/animals/alivecount");

      const data = await response.json();

      $("#alert-alive-animals-count").text(`Alive animals: ${data.aliveAnimalscount}`).toggle(50);
    });

    $(".min-health").click(async function () {
      const animalType = this.getAttribute("animalType")	

      const response = await fetch(`https://localhost:44308/api/animals/minhealth?animalType=${animalType}`);
      const data = await response.json();

      $("#alert-min-health").hide(50);
      $("#alert-min-health").text(`Animal type: ${data.animalType} => Min health; ${data.minHealth}`).toggle(200);
    });
  </script>
}
