@model Zoo.Web.ViewModels.Home.IndexViewModel
@{
  ViewData["Title"] = "Home Page";
}

<h1>Animals</h1>
<div class="row justify-content-around">
  <div class="col-6">
    <ul class="list-group">
      @foreach (var animal in Model.Animals)
      {
        <li class="list-group-item">@animal.Information()</li>
      }
    </ul>
  </div>
  <div class="col-6">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Actions
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a asp-controller="Animals" asp-action="Feed" class="dropdown-item">Feed</a>
        <a class="dropdown-item" href="#">Hunger</a>
      </div>
    </div>
    <hr />
    <button id="btn-alive-animals-count" type="button" class="btn btn-info">Get alive animals count</button>
    <hr />
    <div id="alert-alive-animals-count" class="alert alert-success" role="alert" style="display:none">
    </div>
  </div>
</div>

@section Scripts{
  <script>
    $("#btn-alive-animals-count").click(async function () {
      const response = await fetch("https://localhost:44308/api/animals/alivecount");

      const data = await response.json();

      $("#alert-alive-animals-count").text(`Alive animals: ${data.aliveAnimalscount}`).toggle(200);
    });
  </script>
}
